* {
  padding: 0;
  margin: 0;
  font-family: 'Amiri', 'Noto Serif JP', serif;
}

html {
  scroll-behavior: smooth;
  
}

main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}





/* ########################## */
/* mobileversion */
/* ########################## */

@media (min-width:300px){

  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 18px;
  }

p {
    line-height: 2;
    font-size: 12px;
    text-align: left;
    color: #333333;
  }

/* nav */
nav > ul {
  display: none;
}

nav > ul  a {
  font-family: 'Amiri', 'Noto Serif JP', serif;
  
}
nav aside {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  column-gap: 2.5vh;
  
}

details {
  position: absolute;
  padding-right: 5%;
  width: 95%;
  text-align: right;
}
details ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* background-color: rgb(241, 228, 213); */
  /* font-size: 40px; */
}
details li {
  display: flex;
  padding-right: 3%;
  font-family: 'Amiri', 'Noto Serif JP', serif;
}
details a {
  color: white;
  padding: 3%;
  width: 100%;
}

summary {
  font-size: 20px;
  padding-top: 3vh;
}

nav {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
  background-color: #D3C8C6;
}


nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
  transition: .4s;
  font-size: 15px;
  letter-spacing: 2px;
}

nav > aside a {
  font-size: 20px;
  font-family: 'Amiri', 'Noto Serif JP', serif;

}

/* header */
header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}


body:before{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url("../img/backgroundImg.jpeg") center no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

header > h1{
  font-size: 30px;
  font-weight: 100;
  color: silver;
  font-family: 'Amiri', 'Noto Serif JP', serif;
  letter-spacing: 5px;
}

/* footer */
footer {
  background-color: #D3C8C6;
  padding: 4%;
  text-align: center;
  color: #333333;
  font-family: 'Amiri', 'Noto Serif JP', serif;

}


/* about */
.about {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  background-color: #D3C8C6;
}
.about-wrapper{
  padding-top: 10vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
}
.about img {
  width: 25vh;
  height: 30vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  object-fit: cover;
}

.about-wrapper > aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 3vh;
}

/* skill */
.skill {
  display: flex;
  justify-content: center;
  height: 40vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.skill-wrapper{
  row-gap: 5vh;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.skill-wrapper aside {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3vh;
  column-gap: 3vh;
}

.skill figure {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
  width: 20%;
}

.skill img {
  width: 6vh;
  height: 6vh;
}

.skill figcaption {
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
}

/* education */
.education{
  background-color: #D3C8C6;
  display: flex;
  justify-content: center;
}
.education-wrapper {
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  width: 85%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.education section {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}


.education li {
  list-style: none;
  font-size: 12px;
  line-height: 3vh;
}


/* previous work */
.work-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  /* align-items: center; */
}

#work-items{
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

.work-item{
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.work img {
  /* width: 100%; */
  width: 40vh;
  height: 30vh;
  object-fit: cover;
}

.work figcaption > a{
  text-decoration: none;
  color: black;
  transition: .4s;
  font-size: 12px;
  text-align: left;
}

.work figcaption > a:hover {
  color: ghostwhite;
} 

/* service */
.service{
  display: flex;
  justify-content: center;
  background-color: #D3C8C6;
}
.service-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.service section {
  text-align: center;
}

.service aside {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.service h2,
.service h3,
.service p {
  color: ghostwhite;
}

.service p{
  text-align: start;
}



/* contact */

.contact {
  display: flex;
  justify-content: center;
  /* background-color: #DACFC6; */
  /* background-color: rgb(241, 228, 213); */
}
.contact-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
  row-gap: 5vh;
}



.contact-wrapper aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5vh;
}

.contact button {
  padding: 1%;
}

.contact h2 {
  text-align: center;
}

.contact ul {
  line-height: 2;
}

.contact li {
  list-style: none;
  font-size: 12px;
}

.contact a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

button {
  background-color: black;
  width: 20vh;
  height: 5vh;
}
.contact button > a {
  color: ghostwhite;
}


}

/* ######################### */
/* tabletversion */
/* ######################### */

@media (min-width:600px){

  h2 {
    font-size: 35px;
  }
  
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

/* nav */
  summary {
    font-size: 25px;
  }

  details li a {
    font-size: 15px;
  }

  nav > aside {
    column-gap: 5vh;
  }

  nav > aside a {
    font-size: 30px;
  }

  header > h1{
    font-size: 45px;
  }

  /* about */
  .about {
    display: flex;
    align-items: center;
    column-gap: 3vh;
  }
  

  .about img {
    width: 25vh;
    height: 30vh;
  }

  /* skill */

  .skill-wrapper aside{
    justify-content: center;
  }

 .skill img {
  width: 8vh;
  height: 8vh;
}

.skill figcaption {
  font-size: 12px;
}

/* education */

.education li {
  font-size: 15px;
}

/* previous work */

.work figcaption > a{
  text-decoration: none;
  transition: .4s;
  font-size: 25px;
}

/* service */
.service {
  height:53vh;
  padding-bottom: 5vh;
}

.service > article {
  height: 53vh; 
}

/* contact */

.contact aside {
  justify-content: center;
  width: 95%;
}
.contact li {
  font-size: 15px;
}

.contact li > a {
  font-size: 15px;
}

.contact button {
  width: 13vh;
  height: 3vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



}

/* ############# */
/* desktopversion */
/* ############## */

@media (min-width:1000px){

  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 23px;
  }

p {
    font-size: 16px;
  }

  /* nav */
  nav {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
  }
  
  nav > ul,
  nav > aside {
    display: flex;
    column-gap: 5vh; 
    align-items: center;
  }
  
  nav li {
    list-style: none;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    transition: .4s;
    font-size: 15px;
    letter-spacing: 2px;
  }
  
  nav a:hover {
    color: lightslategray;
  }
  
  nav > aside a {
    font-size: 18px;
  }

  nav details {
    display: none;
  }
  
  header {
    height: 90vh;
    background-position: 25% 65%;
  }

  header > h1 {
    font-size: 70px;
  }

  /* about */

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
  }
  
  .about-wrapper{
    max-width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  
  
  .about img {
    width: 45vh;
    height: 50vh;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .about aside {
    width: 50%;
  }

  .about p {
    text-align: start;
  }

  /* skill */
  .skill {
    height: 68vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .skill-wrapper{
    max-width: 70%;
  }

  .skill-wrapper aside{
    column-gap: 8vh;
  }

  .skill img {
    width: 12vh;
    height: 12vh;
  }
  
  .skill figcaption {
    font-size: 16px;
  }

  /* education */
  .education-wrapper{
    max-width: 70%;
    
  }
  .education {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 30vh; */
  }
  .education li {
    font-size: 17px;
  }

  /* previous work */

  .work{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-wrapper{
    max-width: 70%;
    padding-top: 15vh;
    row-gap: 10vh;
    display: flex;
    align-items: center;
  }
  #work-items{
    /* width:70%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    row-gap: 8vh;
    column-gap: 6vh;
  }

  
  
  .work img {
    /* width: 100%; */
    width: 40vh;
    height: 30vh;
    object-fit: cover;
  }


  .work img:hover {
    opacity:0.5;
    transition:0.3s;
  }
  
  .work figcaption > a{
    text-decoration: none;
    transition: .4s;
    font-size: 15px;
    color: black;
  }

  .work figcaption > a:hover{
    color: lightslategray;
  }
  
  /* .work figcaption > a:hover {
    color: ghostwhite;
  } */

  /* service */

  .service{
    padding-bottom: 5vh;
  }

  .service-wrapper {
    display: flex;
    max-width: 70%;
    column-gap: 5vh;
  }

  .service-wrapper section{
    display: flex;
    justify-content: space-between;
    column-gap: 5vh;
  }
  
  .service aside {
    width: 40%;
  }


  /* contact */
  .contact-wrapper aside{
    column-gap: 10vh;
  }
  .contact a:hover {
    color: ghostwhite;
  }
  
  .contact button {
    width: 15%;
    height: 30%;
  }
  .contact button > a {
    color: ghostwhite;
    font-size: 15px;
  }
  
  .contact li,
  .contact li > a{
    font-size: 17px;
  }

  
  
}